h1, h2, h3, h4, h5, h6 {
	// Headings are italicized, so emphasis is the opposite.
	em {
		font-style: normal;
	}

	// Keep the header color.
	a {
		color: inherit;
	}
}

pre {
	margin-bottom: $paragraph-margin-bottom;
}

code {
	font-size: 0.8rem;
	background: #474949; // These two colors are borrowed from the code style.
	color: #D1D9E1;
	padding: 0.15em 0.4em;
	border-radius: 0.33em;
	margin: 1px; // Separate from adjacent punctuation, etc.
}

pre > code,
.hljs {
	padding: 1.5em;
	border-radius: 0.5rem;
	line-height: 1.25em;
	overflow: auto;

	&::-webkit-scrollbar { 
    display: none; 
	}
}

img {
	border-radius: 5px;

	&.portrait {
		border-radius: 50%;
		width: 75%;
		max-width: 300px; // Any bigger is just gross.
	}
}

.icon {
	@include vertically-centered;
	width: 1.25em;
	height: 1.25em;
	margin-right: 0.5em;
	fill: darken($secondary-color, 25%);
	transition: transform 0.05s linear;
}

.gallery figure {
	margin: {
		left: 0;
		right: 0;
	}

	figcaption {
		padding-top: 0.25em;
	}
}
