body > footer {
  clear: both;
  margin-top: $paragraph-margin-bottom;
  padding: $paragraph-margin-bottom;
  border-top: 1px dotted $primary-color;
  background: scale-color($primary-color, $lightness: 95%, $saturation: -75%);
  text-align: center;

  p,
  .contact { // Can/should we just asterisk here?
    font-size: $small-font-size;
    color: $small-font-color;
  }

  p {
    margin-bottom: 0;
  }

  .contact {
    margin: 0 0 $paragraph-margin-bottom 0;
    list-style: none;

    li {
      display: inline;

      &::before {
        content: '⋅';
      }

      &:first-child::before {
        content: none;
      }
    }
  }
}
