@mixin vertically-centered {
  display: inline-block;
  vertical-align: middle;
}

.about-me {
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;

  .photo {
    margin-bottom: $paragraph-margin-bottom;
    text-align: center;

    & > img {
      box-shadow: 1px 1px 5px black;
    }
  }

  .contact {
    list-style: none;
    margin-left: 0;
    font-size: 1.25rem;

    li {
      margin: 0.5em 0;
    }

    a {
      .icon {
        @include vertically-centered;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        fill: darken($secondary-color, 25%);
        transition: transform 0.05s linear;
      }

      span {
        @include vertically-centered;
      }

      &:hover .icon {
        transform: translateY(-2px);
        filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.25));
        fill: $anchor-font-color-hover;
      }
    }
  }
}
