.about-me {
  margin-top: $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;

  .photo {
    margin-bottom: $paragraph-margin-bottom;
    text-align: center;

    & > img {
      box-shadow: 1px 1px 5px black;
    }
  }

  .contact {
    list-style: none;
    margin-left: 0;
    font-size: 1.25rem;

    li {
      margin: 0.25em 0;
    }

    a {
      //color: darken($secondary-color, 25%);
    }
  }
}
