article.post {
  header {
    margin-bottom: 1rem;
  }

  .info {
    font-size: $small-font-size;
    color: $small-font-color;
    text-align: left;

    border-left: 1px dotted $primary-color;
    padding-left: $small-font-size;
  }
}
