body > footer {
  clear: both;
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px dotted $primary-color;
  background: scale-color($primary-color, $lightness: 95%, $saturation: -75%);
  text-align: center;

  p {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}
