<aside class="about-me small-12 columns">
  <div class="portrait"><img src="{{site.portrait}}" alt="My face."></div>
  {{#ul contact.links class="contact"}}
    <a href="{{url}}">{{title}}</a>
  {{/ul}}
</aside>
