<!-- TODO: vCard? schema.org? -->
<aside class="about-me small-12 large-3 columns">
  <div class="photo"><img class="portrait" src="{{ site.portrait }}" alt="My face."></div>
  <p>I'm Chris! Making web stuff has been my thing since the end of the <a href="http://en.wikipedia.org/wiki/Browser_wars#The_first_browser_war">First Browser War</a>. I enjoy <b>design</b> and <b>UX</b>, but I'm really a <b>software engineer</b> at heart.</p>
  <ul class="contact">
    {% for link in contact.links -%}
    <li>
      <a href="{{link.url}}"><svg role="img" class="icon"><use xlink:href="/images/icons.svg#i{{link.icon}}"></use></svg><span>{{link.title}}</span></a>
    </li>
    {%- endfor %}
  </ul>
</aside>
