<aside class="about-me">
  <div class="photo"><img src="https://lh6.googleusercontent.com/-p6kmZoOv-SU/AAAAAAAAAAI/AAAAAAAAWgI/Mp5gBQqDjQU/s120-c/photo.jpg" alt="My face."></div>
  <p>My name is Chris, and web is what I do.</p>
  <ul class="contact">
    <li><a href="https://github.com/doingweb">GitHub</a></li>
    <li><a href="http://www.linkedin.com/in/chrisantes">LinkedIn</a></li>
    <li><a href="http://www.reddit.com/user/doingweb">Reddit</a></li>
    <li><a href="http://stackoverflow.com/users/467354/doingweb">StackOverflow</a></li>
    <li><a href="https://twitter.com/doingweb">Twitter</a></li>
  </ul>
</aside>
