<!-- TODO: vCard? schema.org? -->
<aside class="about-me small-12 columns">
  <div class="photo"><img class="portrait" src="{{site.portrait}}" alt="My face."></div>
  <p class="lead">I'm Chris! Making web stuff has been my thing since the end of the <a href="http://en.wikipedia.org/wiki/Browser_wars#The_first_browser_war">First Browser War</a>. I enjoy <b>design</b> and <b>UX</b>, but I'm really a <b>software engineer</b> at heart.</p>
  {{> contact-links }}
  {{follow user="doingweb" count="false"}}
</aside>
