<aside class="about-me small-12 columns">
  <div class="photo"><img src="{{site.portrait}}" alt="My face."></div>
  <p>{{site.tagline}}</p>
  {{#ul contact.links class="contact"}}
    <a href="{{url}}">{{title}}</a>
  {{/ul}}
</aside>
