<footer>
	{% include "contact-links.html" %}
	<p>Chris Antes {{ date | date('Y') }} <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
	<p>Made with <a href="http://foundation.zurb.com">Foundation</a>, <a href="http://www.metalsmith.io">Metalsmith</a>, and dozens of <a href="https://github.com/doingweb/chrisdoingweb.com/blob/master/package.json">other</a> <a href="https://github.com/doingweb/chrisdoingweb.com/blob/master/bower.json">things</a> all woven together with <a href="http://gulpjs.com">Gulp</a>.</p>
</footer>
