<footer>
	{{> contact-links }}
	<p>Chris Antes {{moment format='YYYY'}} <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
	<p>Made with <a href="http://assemble.io">Assemble</a> and <a href="http://foundation.zurb.com">Foundation</a>, with the help of <a href="https://github.com/doingweb/generator-sassy-roboyeti">Sassy Roboyeti</a>.</p>
</footer>
