@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('/bower_components/monosocialiconsfont/MonoSocialIconsFont-1.10.eot');
  src: url('/bower_components/monosocialiconsfont/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
    url('/bower_components/monosocialiconsfont/MonoSocialIconsFont-1.10.woff') format('woff'),
    url('/bower_components/monosocialiconsfont/MonoSocialIconsFont-1.10.ttf') format('truetype'),
    url('/bower_components/monosocialiconsfont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('/bower_components/monosocialiconsfont/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
