---
title: Blog
description: Chris' blog about web
layout: site.hbs
---

<div class="row">
  <main itemtype="http://schema.org/Blog" class="small-12 large-9 columns">
    {{#each posts}}
      {{> post }}
    {{/each}}
  </main>

  {{> about-me }}
</div>
