---
title: Articles
layout: site.hbs
---

<div class="row">
  <main itemtype="http://schema.org/Blog" class="small-12 large-9 columns">
    {{#each articles}}
      {{> article }}
    {{/each}}
  </main>

  {{> about-me }}
</div>
