body {
	&> header,
	&> main,
	&> footer {
		@include grid-row;
	}
}

article {
	@include grid-column(12);
}

body > footer .photo {
	@include grid-column(12);
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}
