<div class="row">
  <div class="small-12 columns">
    <p>There are several ways you could get in contact with me.</p>
    <p>One is by <a href="mailto:chris@chrisdoingweb.com">email</a>.</p>
    <p>Another is through <a href="http://twitter.com/doingweb">Twitter</a>.</p>
  </div>
</div>
