---
title: Home
layout: false
---

{{#extend "site"}}
  {{#content "styles" mode="append"}}
    <link rel="stylesheet" href="{{assets}}/css/home.css" media="screen">
  {{/content}}
  {{#content "body"}}
    <p>This is my homepage. It is different.</p>
  {{/content}}
{{/extend}}
