---
title: Home
pageCss: home.css
---

<section class="bio">
  <p class="greeting">hello<img class="period portrait" src="{{site.portrait}}" alt="Period. But the period is my face." title="The period is my face! Isn't that crazy??" /></p>
  <h1 class="tagline">{{site.tagline}}</h1>
  <div class="detail row">
    <p class="headline small-12 columns">I'm a <b>web developer</b> from the Pacific Northwest, and I specialize in <b>Javascript</b>, <b>C#</b>, and <b>happy users</b>.</p>
    <div class="philosophy small-12 columns">
      <ul class="medium-block-grid-2 large-block-grid-3">
        <li>
          <div class="panel">
            <h2>I think software should be freeing.</h2>
            <p>My favorite products are the kind that let me do more of the things I like and less of the things I don't like. Software should <a href="http://www.google.com/design/spec/material-design/introduction.html">focus on the user</a>, with <a href="https://github.com/mojombo/semver/issues/90#issuecomment-32306884">interfaces</a> that are there when you need them, but get out of your way when you have better things to do.</p>
          </div>
        </li>
        <li>
          <div class="panel">
            <h2>I think we are in a second web renaissance.</h2>
            <p>The web has come <a href="http://shoptalkshow.com/episodes/123-special-archive-episode-2004/">a long way</a> in the last decade, but there's still so much more growing to do. <a href="http://webcomponents.org/">Web Components</a>, the <a href="http://en.wikipedia.org/wiki/Internet_of_Things">Internet of Things</a>, and the <a href="http://semanticweb.org/wiki/Main_Page">Semantic Web</a> have enormous potential to revolutionize how we connect and deliver information. I'm pretty excited about them.</p>
          </div>
        </li>
        <li>
          <div class="panel">
            <h2>I think code should be clean.</h2>
            <p><a href="http://en.wikipedia.org/wiki/Robert_Cecil_Martin">Uncle Bob</a> taught me that <a href="http://www.slideshare.net/vvgomess/code-as-a-communication-tool">code is a communication tool</a>. Authors write code not only for machines, but for humans as well, and code that is well-organized and easy to read is nicer for everyone.</p>
          </div>
        </li>
        <li>
          <div class="panel">
            <h2>I think an evolving process is the best process.</h2>
            <p>Building stuff should be fun, not tedious. Keeping up-to-date on the <a href="http://bower.io/">ever</a>-<a href="http://koajs.com/">expanding</a> <a href="http://gruntjs.com/">tool</a> <a href="http://facebook.github.io/react/">chest</a> of the modern web developer, and <a href="http://www.sitepoint.com/drowning-in-tools-web-development-industry/">learning when (and if)</a> to use those tools is our real superpower.</p>
          </div>
        </li>
        <li>
          <div class="panel">
            <h2>I think it's a waste of time to <em>not</em> write tests.</h2>
            <p>If I can make a statement about how something should work, there's <a href="http://blog.8thlight.com/uncle-bob/2013/03/06/ThePragmaticsOfTDD.html">probably</a> a test in there somewhere. I'd rather just explain to the computer how to do that test, than have to do it myself any time I want confidence that my software still works.</p>
          </div>
        </li>
        <li>
          <div class="panel">
            <h2>I think it's important to be pragmatic.</h2>
            <p>Obsession is great for driving quality, but it should never get in the way of getting the job done. Let's manage that debt on our own time.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="row">
  <p class="headline small-12 columns">If I sound like someone you could get along with, why not <a href="mailto:chris@chrisdoingweb.com">drop me a line</a> and we can talk web!</p>
</div>
