---
layout: site.hbs
---

<div class="row">
  <main class="small-12 large-9 column">
    {{> post pagination.index }}
  </main>
  <!-- TODO: Disqus -->
  <!-- TODO: Related posts? Previous/Next? -->

  {{> about-me }}
</div>
