<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="alternate" href="/feed.xml" type="application/rss+xml" title="{{site.title}}">
		<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Roboto:300,300italic,500,500italic|Vollkorn:400italic' rel='stylesheet' type='text/css'>
		<script src="/js/modernizr.js"></script>
	</head>
	<body>
		{{> browse-happy }}
		{{> header }}
		<main>
			{{> body }}
		</main>
		{{> footer }}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
		{{> google-analytics }}
	</body>
</html>
