{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <p style="font-size: 10rem;">404 :(</p>

      <p class="lead">I'm curious about how you got here. I'm usually so careful.</p>

      <p>If you followed an actual link here, I'd really appreciate if you could <a href="https://github.com/doingweb/chrisdoingweb.com/issues">file an issue on GitHub</a>. Together, we can make the web a better place!</p>
    </div>
  </div>
{{ end }}
