code {
	font-size: 0.8rem;
}

.about-me {
	margin-top: $paragraph-margin-bottom;
	margin-bottom: $paragraph-margin-bottom;
	background: $secondary-color;
	text-align: center;

	.photo {
		margin: $paragraph-margin-bottom 0;

		img {
			border-radius: 50%;
		}
	}

	.contact {
		list-style: none;
		margin-left: 0;
	}
}
