h1, h2, h3, h4, h5, h6 {
	em {
		font-style: normal;
	}
}

code {
	font-size: 0.8rem;
}

.headline {
	font-size: 1.25rem;
	@media #{$medium-up} {
		font-size: 2em;
	}
}

.about-me {
	margin-top: $paragraph-margin-bottom;
	margin-bottom: $paragraph-margin-bottom;
	background: $secondary-color;
	text-align: center;

	.contact {
		list-style: none;
		margin-left: 0;
	}
}

img.portrait {
	border-radius: 50%;
}

body > footer {
	clear: both;
	margin-top: 2rem;
	padding: 1rem 0;
	border-top: 1px dotted $primary-color;
	background: scale-color($primary-color, $lightness: 95%, $saturation: -75%);
	text-align: center;

	p {
		font-size: 0.75rem;
		margin-bottom: 0;
	}
}
