{{!< layout.html }}

{{#each articles}}
  <article>
    <header>
      <h1><a href="{{url}}">{{title}}</a></h1>
      <p class="date"><span>{{date date}}</span></p>
    </header>
    <section class="content">
      {{{intro}}}
      {{#if hasMore}}
        <a href="{{url}}">more</a>
      {{/if}}
    </section>
  </article>
{{/each}}

<nav>
  {{#if prevPage}}
    <a href="{{prevPage.url}}">« Newer</a>
  {{else}}
    <a href="/archive/">« Archives</a>
  {{/if}}
  {{#if nextPage}}
    <a href="{{nextPage.url}}">Next page »</a>
  {{/if}}
</nav>
