<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{title}}</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="alternate" href="{{locals.url}}/feed.xml" type="application/rss+xml" title="{{locals.description}}">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300">
		<link rel="stylesheet" href="/css/main.css">
		<script src="js/modernizr.js"></script>
	</head>
	<body>
		{{> browse-happy }}

		{{> header }}
		<main>
		{{{body}}}
		</main>
		{{> footer }}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

		{{> google-analytics }}
	</body>
</html>
