$include-html-classes: false;
@import "partials/foundation-settings";
@import "foundation/scss/foundation/components/type";

.bio {
  .greeting,
  .tagline {
    text-align: center;
  }

  .greeting {
    font-size: 36vmin;
    line-height: 1;
    margin: 0.5em 0;
    white-space: nowrap;

    .portrait {
      width: 0.1em;
      vertical-align: baseline;
    }
  }

  .tagline {
    margin: 1em 0;
    padding: $header-line-height * 0.5em;
    font-size: 1.75rem;
    @media #{$medium-up} {
      font-size: $h1-font-size;
    }
    background: $primary-color;
    color: $body-bg;
  }

  .lead {
    margin-bottom: 2em;
    @media #{$medium-up} {
      font-size: $h2-font-size;
    }
  }

  .philosophy {
    .panel {
      background: transparent;
      border: 0;
      border-left: 1px dotted $primary-color;
    }
  }
}
